@charset "UTF-8";

html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 ;
    padding: 0;
}


.logo {
    width: 50px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.classheader {
    background-color: #1f2a33;
    display:flex;
}

li {
    display: inline;
    padding-left: 10px;
    padding-bottom: 15px;
}



nav > ul > li > a {
    text-decoration: none;
    color: white;
    
}

.loginbotao {
    background-color: #4aaf4a;
    padding:8px;
    border-radius: 5px;
}

.loginbotao:hover {
    background-color: white;
    color: #4aaf4a;
    transition: 0.7s;
}

.imagemsection {
    background-image: url(../imagens/background.jpg);
    background-position: top;
    background-size: cover;
    height: 300px;
}

.classsection {
    display: flex;
    color: white;
    text-align: center;
    line-height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    
}

/* Informações */

h1 {
    font-weight: bolder;
    font-size: 35px;
}

.estiloh3 {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}

.alinhamentotexto {
    align-items: center;
    text-align: center;    
    justify-content: center;
}

.estilop {
    display: flex;
    text-align: center;
    color: rgb(146, 146, 146);
}


.divinformacoes {
    width: 250px;
    margin-top: 50px;
    text-align: center;
    padding-top: 50px;
    margin: auto;
    padding: 50px;
}


.icone1 {
    color: #359c35;
    font-size: 48px;
}

.icone2 {
    color: red;
}

.icone3 {
    color: rgb(255, 166, 0);
}

/* Planos e preços*/

.estiloh2 {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    padding: 50px;
}

.estilop2 {
display: flex;
text-align: center;
}

.estilosection {

}



.divcompreco {
    background-color: #51db51;
    color: white;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50%;
    display: flex;
    margin-top: 20px;
    margin-bottom: -20px;
} 



.divh2preco {
    display: flex;
    background-color: #1f2a33;
    color: white;
    font-weight: bolder;
    height: 100px;
    width: 200px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: auto;
}

.informacaopreco {
    background-color: lightgray;
    width: 200px;
    margin: auto;    
    text-align: center;

}
.espacotexto {
    line-height: 50px;
}

.botaoverde {
    display: flex;
    text-align: center;
    background-color: #51db51 ;
    height: 50px;
    width: 200px;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

