@charset "UTF-8";

html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 ;
    padding: 0;
}


.logo {
    width: 50px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.classheader {
    background-color: #1f2a33;
}



li {
    display: inline;
    padding-left: 10px;
    padding-bottom: 15px;
}

.navestilo {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;    
}

nav > ul > li > a {
    text-decoration: none;
    color: white;
    
}

.loginbotao {
    background-color: #4aaf4a;
    padding:8px;
    border-radius: 5px;
}

.loginbotao:hover {
    background-color: white;
    color: #4aaf4a;
    transition: 0.7s;
}

.imagemsection {
    background-image: url(../imagens/background.jpg) ;
    background-position: top;
    background-size: cover;
    height: 300px;
}

.classsection {
    display: flex;
    color: white;
    text-align: center;
    line-height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 20px;    
}

.color {
    background-color: #1f2a33;
} 

/* Informações */

h1 {
    font-weight: bolder;
    font-size: 35px;
}

.estiloh3 {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}

.alinhamentotexto {
    align-items: center;
    text-align: center;    
    justify-content: center;
    text-shadow: 1px 1px 5px black;
}

.h1info {
    font-family: 60px;
}

.estilop {
    display: flex;
    text-align: center;
    color: rgb(146, 146, 146);
}


.divinformacoes {
    width: 250px;
    margin-top: 50px;
    text-align: center;
    padding-top: 50px;
    margin: auto;
    padding: 50px;
}


.icone1 {
    color: #359c35;
    font-size: 48px;
}

.icone2 {
    color: red;
}

.icone3 {
    color: rgb(255, 166, 0);
}

/* Planos e preços*/

.estiloh2 {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    padding-top: 50px;

}

.estilop2 {
display: flex;
text-align: center;
padding: 20px;
color: #818181;
}

.estilosection {

}



.divcompreco {
    background-color: #51db51;
    color: white;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50%;
    display: flex;
    margin-top: 20px;
    margin-bottom: -20px; 
}



.divh2preco {
    display: flex;
    background-color: #1f2a33;
    color: white;
    font-weight: bolder;
    height: 100px;
    width: 200px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: auto;
}

.informacaopreco {
    background-color: lightgray;
    width: 200px;
    margin: auto;    
    text-align: center;

}
.espacotexto {
    line-height: 50px;
}

.botaoverde {
    display: flex;
    text-align: center;
    background-color: #51db51 ;
    height: 50px;
    width: 200px;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-weight: bolder;

}

.botaoverde:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

/* Buscar dominio */

.estilodominio {
    background-color: #1f2a33;
    height: 300px;
    margin-top: 30px;
}

.estiloh1 {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    padding-top: 50px;
    color: white;
}

.estilopcinza {
    text-align: center;
    padding: 20px;
    color: #ffffff;
}

#dominio {
    display: flex;
    margin: auto;
    height: 40px;
    width: 300px;
    margin-bottom: 20px;
}

#buscar {
    background-color: #51db51;
    border-style: none;
    display: flex;
    margin: auto;
    height: 40px;
    width: 105px;
    color: white;
    cursor: pointer;
}


/* Formulário */
.formestilo {
    margin: auto;
    justify-content: center;
    text-align: center;
}


.estiloform {
    display: inline-flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    outline: none;
}

div.formestilo > input#nome {
    width: 41%;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 30px;

}

div.formestilo > input#email {
    width: 41%;
    height: 40px;
    margin-left: 5px;
    margin-bottom: 30px;
}

input#texto {
    width: 87%;
    height: 200px;
    display: flex;
    margin: auto;
}

#texto::placeholder {
    position: absolute;
    top: 0;
    left: 0;
}

#botaoenviar {
    border-style: none;
    margin-top: 20px;
    color: white;
}

/* Footer */

.classfooter {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 30px;
    color: #818181;

}